.page {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

.header {
  padding: 92px 24px 96px;
  margin: 0 auto;
  display: flex;
  width: 100%;
  align-items: center;
}

.header__logo {
  width: 140px;
  height: 105.65px;
  left: 9.03px;
  top: 1.16px;
  padding-left: 6px;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.13px;
  display: flex;
  padding-top: 3px;
}

.header__menu li:last-child {
  padding-right: 40px;
}

.no_active{
  list-style: none;
  text-decoration: none;
}

.menu-link_no_active {
  padding-right: 32px;
  padding-left: 26px;
  list-style: none;
}

.menu-link {
  padding-right: 32px;
  list-style: circle ;
  text-underline-offset: 4px;
  letter-spacing: 0.004em;
}

.adres_font {
  width: 270px;
  text-underline-offset: 3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  letter-spacing: 0.004em;
}

.adres__header {
  margin-left: 193px;
  padding-top: 5px;
  width: 270px;
}

.cover {
  padding: 165px 50px 51px;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url(/images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  color: #FFF;
}

.cover__title {
 font-weight: 700;
 font-size: 100px;
 letter-spacing: 0.3em;
 line-height: 1.22;
 text-transform: uppercase;
}

.cover-text {
  display: block;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right ;
}

.letter-spacing-extended-min {
  letter-spacing: 0.3em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__down {
  margin-top: 125px;
  display: flex;
  font-size: 22px;
  align-items: center;
  justify-content: end;
  gap: 77px;
}

.cover__down-text {
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  cursor: pointer;
  font-size: 22px;
  color: #FFF;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #FFF;
  padding: 12px 32px;
}

.lots {
  padding-top: 179px;
  height: 100%;
}
  
.lots__title {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 62px;
  margin-bottom: 28px;
}

.lots__list {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 30px;
}

.lots__item {
  padding-left: 24px;
  width: 334px;
  height: 563px;
}

.lot {
  width: 334px;
  height: 563px;
  padding-left: 25px;
  display: table-cell;
  vertical-align: middle;
}

.lots__container {
  padding-left: 24px;
  padding-right: 24px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 32px;
}

.lots__item {
  padding: 48px 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}

.lots__item-title {
  text-transform: uppercase;
  text-decoration: underline;
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.lots__item-content {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.lots__cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 334px;
}

.lots__cover.films {
  background-image: url(../images/card-lot-01.jpg);
}

.lots__cover.books {
  background-image: url(../images/card-lot-02.jpg);
}

.lots__cover.pictures {
  background-image: url(../images/card-lot-03.jpg);
}

.see_more {
  padding-left: 65px;
  width: 192px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
  text-underline-offset: 4px;
}

.logo_white {
  width: 148px;
  height: 114px;
  padding-bottom: 0;
}

.about__title {
  width: 291px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  text-transform: uppercase;
  color: #000000;
  display:flex;
  margin-left:50px;
  padding-top: 98px;
  margin-bottom: 100px;
}

.about__text {
  max-width: 793px;
  max-height: 314px;
  margin-top: 25px;
  margin-left: 0;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  padding-left: 44px;
}

.about_black {
  width: 993px;
  height: 449px;
}

.logo_border {
  border-radius: 50%;
  background-color: black;
  width: 260px;
  height: 240px;
  padding-bottom: 30px;
  padding-top: 65px;
  padding-left: 46px;
}

.section_about {
  display: grid;
  grid-template-columns: 240px 1fr;
  gap: 25px;
  max-width: 1052px;
  padding-top: 180px;
  padding-bottom: 0;
  padding-left: 72px;
  padding-bottom: 20px;
  display:flex;
  width: 1052px;
}

.footer {
  padding-top:160px;
  padding-bottom: 91px;
  display: grid;
  grid-template-columns: 240px auto 240px;
  align-items: start;
  margin: 0 auto;
  width: 1000px;
  min-height: 72px;
}

.footer__menu {
  padding-left: 181px;
  display: flex;
  margin-left: 0;
}

.footer__menu-array {
  list-style: none;
  width: 154px;
  text-align: center;
}

.footer__menu-elem {
  font-size: 18px;
  text-underline-offset: 3px;
}

.footer__menu-elem-link {
  text-decoration: underline;
}

.footer__menu-elem-link-no_active {
  text-decoration: none;
}

.footer__address {
  margin-left: 0;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.footer__social-array {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.footer__social-elem {
  list-style: none;
}

.footer__icon {
  color: black;
  width: 48px;
  list-style: none;
  text-align: none;
}